/* here is where the quiz page CSS coding will be found*/
/* this coding from top to next notes is all for the option buttons */
 body{
background-image:url(textureB.jpg);}

.optionsButtons {
    display:flex;
    margin-bottom: 0.8rem;
    width:100%;
    border-radius: 6px;
    background: rgb(38, 177, 187);
    font-size: 3rem;
    min-width: 80rem;
}

.optionsButtons:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6,103,247,0.5);
    transform: scale(1.02);
    transform: transform 100ms;
 }

.optionsPrefix {
    padding: 2rem 2.5rem;
    color: white;
}

.optionsText {
    padding: 2rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, rgba(11,223,36) 0% rgb(41,232,11,)100%);
}

.wrong{
    background: linear-gradient(32deg, rgba(230,29,29,1) 0% rgb(224,11,11,1)100%);
}
/* this is where the score board and timer will go */
#hud {
    display: flex;
    justify-content: space-between;
 }

.hud-prefix {
    text-align: left;
    font-size: 2rem;
/* this needs to be hidden but not sure how */
}

.hud-main-text {
    display: flex;
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top:2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background:rgb(11,223,36);
    width: 0%;
}

#progressText {
    width: 20rem;
    height: 3rem;
    margin-top:2rem;
    border-radius: 50px;
}
/* this is part of the form */
.placeholder

{
@media screen and (max-width:760px){
    .optionsButtons{
        min-width: 40rem;
    }
}
}
