*,*::before, *::after {
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

:root {
--hue-neutral: #FFFFFF;
--hue-wrong: plum;
--hue-correct: #800080;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }

/* body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
   opacity: 0.6;
}

/* this is not part of the final design but it is good to know where and what has design
/*this is the shadow box*/
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0 0 10px 3px;
}
/* this is only the option buttons*/
.layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 20px;
    columns: above 10px;
    column-gap: 20px;
   
}
.button {
    border: 1px solid var(--hue-correct);
    background-color: var(--hue-correct);    
    border-radius: 6px;
    padding: 5px 10px ;
    color: white;
    outline: var(--hue-correct);
    cursor: pointer;
    display: flex; /* moves text to the far left of the option */
}

.button:hover {
border-color: var(--hue-correct);
opacity: plum;
}

.button.correct {
    background-color:var(--hue-correct);
  }

.button.wrong {
        --hue:var(--hue-wrong);
}

.startQuizButton{
font-size: 1.0rem;
font-weight: bold;  
padding: 10px 10px;
cursor: pointer;
background-color: var(--hue-correct);
color: var(--hue-neutral);
}

/* .buttonControl, .add, .subtract{
    font-size: 1.0rem;
    font-weight: bold;  
    padding: 10px 10px;}
*/

/* this is the form field */
.hide {
    display: none;
    }

.h1 {
    display: flex;
    align-content: wrap;
}
